.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  /*width: 100vw;*/
}

.wrapperGame {
  border-left: 1px white solid;
  width: 70%;
  height: 90vh;
}

.wrapperSetting {
  height: 80vh;
  width: 30%;
}

.centralSection {
  width: 350px;
  margin: 100px auto auto;
}

.counter {
  /*height: 30%;*/
}

.item {
  margin-right: 10px;
  margin-bottom: 5px;
  border: 1px solid grey;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
}

